table,
th,
td {
    border: 1px solid;
    padding: 20px
}

.container {
    background-color: antiquewhite;
    
}

.buttontype {
    font-size: 17px;
    display: inline-block;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2D788F;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.buttontype:hover {
    background-color: #2D788F
}

.buttontype:active {
    background-color: #2D788F;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90px;
    
  }
  
  #customers td, #customers th {
    border: 5px solid #ddd;
    padding: 8px;
  }

  #customers th {
    padding-top: 12px;
    padding-bottom: 20px;
    text-align: left;
    background-color: #2D788F;
    color: white;
  }